{% extends 'base.html' %}
{% block content %}
{% block title %}
    Event_list
{% endblock %}

<h1 class="evt">Event_list</h1>
<table class="table">
    <tr>
        <th>TITTLE</th>
        <th>DATE</th>
        <th>LOCATION</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr>
        <td>Business development workshop</td>
        <td>10 May 2025</td>
        <td>Eldoret</td>
        <td>This is for aspiring and guiding entrepreneurs on business management.</td>
    </tr>
    <tr>
        <td>Youth Coding</td>
        <td>13 january 2026</td>
        <td>Kimumu</td>
        <td>This is training youth on programming fundamentals.</td>

    </tr>
    <tr>
        <td>Culture Festival</td>
        <td>6 january 2026</td>
        <td>Nakuru</td>
        <td>The cultural aims at promoting cultural heritage.</td>
    </tr>
    <tr>
        <td>Environmental clean-up </td>
        <td>8 feb 2026</td>
        <td>Kisumu</td>
        <td>This program enable the community to help in maintaining environment clean.</td>
    </tr>
    <tr>
        <td>Inovation Summit</td>
        <td>12 feb 2026</td>
        <td>Naivasha</td>
        <td>This summit is to innovate members on bringing ideas into reality.</td>
    </tr>

</table>
<div class="back">
<button>BACK</button>
</div>
{% endblock %}
