<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event_details</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>
<body class="details">
<h1>Event_details</h1>
<form>
    <label>TITTLE:</label>
    <input type="text"><br><br>
    <label>DATE:</label>
    <input type="text"><br><br>
    <label>LOCATION:</label>
    <input type="text">
    <label>DESCRIPTION:</label>
    <textarea cols="30" rows="10"></textarea>

</form>

</body>
</html>