<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>
<body>
<h2>WELCOME HOME</h2>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127639.93448270785!2d36.57226864335937!3d-1.327202800000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1b31e51f6549%3A0x24a2de151bb556d5!2sChina%20Square%20Karen!5e0!3m2!1sen!2ske!4v1770984138887!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</body>
</html>